name: issue_board

on:
  issues:
    types:
      - opened
jobs:
  add-to-project:
    name: Add Bumblebee to Gloo Mesh or Docs project board
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/solo-io/projects/23
          github-token: ${{ secrets.ORG_CROSS_REPO }}
