on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-18.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - run: |
          git fetch --prune --unshallow
      - name: Setup Private Repo Permissions
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          git config --global url."https://${TOKEN}@github.com/solo-io/".insteadOf "https://github.com/solo-io/"
      - name: Set up Go 1.17
        uses: actions/setup-go@v1
        with:
          go-version: 1.17.2
      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: lint
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          go mod tidy
          if [[ $(git status --porcelain --untracked-files=no | wc -l) -ne 0 ]]; then
            echo "Need to run go mod tidy before committing"
            git diff
            exit 1;
          fi