on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - run: |
          git fetch --prune --unshallow
      - name: Set up Go 1.18
        uses: actions/setup-go@v1
        with:
          go-version: 1.18.10
      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: lint
        run: |
          go mod tidy
          if [[ $(git status --porcelain --untracked-files=no | wc -l) -ne 0 ]]; then
            echo "Need to run go mod tidy before committing"
            git diff
            exit 1;
          fi
  test:
    name: test
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - run: |
          git fetch --prune --unshallow
      - name: Set up Go 1.18
        uses: actions/setup-go@v1
        with:
          go-version: 1.18.10
      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: build
        run: |
          go build ./bee/main.go
      - name: test
        run: |
          go test ./...